<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>填写成功</title>
<style type="text/css">
	.container{
		width:100%;
		margin:100px 0;
		text-align: center;
	}
	.success{
		display: block;
		line-height: 50px;
		font-size: 18px;
	}
</style>
</head>
<body>
	<div class="container">
		<img alt="" src="/success.png" />
		<span class="success">填写成功,感谢您对本次活动的支持!</span>
	</div>
</body>
</html>