@charset "utf-8";
/* CSS Document */
.mutil_input{box-shadow:inset 1px 1px 0 #e2e2e2;padding:3px 5px;border-top:1px solid #999;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;border-left:1px solid #999; vertical-align:middle}
.mutil_input:focus{box-shadow:0 0 5px #60caff;BORDER-BOTTOM-COLOR:#93d4fc;BORDER-TOP-COLOR:#93d4fc;BORDER-RIGHT-COLOR:#93d4fc;BORDER-LEFT-COLOR:#93d4fc;}
.input_focus{box-shadow:0 0 5px #60caff;BORDER-BOTTOM-COLOR:#93d4fc;BORDER-TOP-COLOR:#93d4fc;BORDER-RIGHT-COLOR:#93d4fc;BORDER-LEFT-COLOR:#93d4fc;}
.mutil_input .input_text{box-shadow:none;BORDER-BOTTOM-COLOR:#fff;TEXT-ALIGN:right;PADDING-BOTTOM:2px;BORDER-TOP-COLOR:#fff;MARGIN:0;PADDING-LEFT:2px;PADDING-RIGHT:2px;FLOAT:none;BORDER-RIGHT-COLOR:#fff;BORDER-LEFT-COLOR:#fff;PADDING-TOP:2px;}
.mutil_input .input_focus{box-shadow:0 0 5px 1px #60caff;}
.set_time_hm{WHITE-SPACE:nowrap;}
.set_time_hm input{WIDTH:18px; border:none;}
.set_time_hm .set_time_m{MARGIN-RIGHT:2px;}
.menu_box{Z-INDEX:12;POSITION:absolute;OVERFLOW-X:hidden;OVERFLOW-Y:auto;MAX-HEIGHT:100px;}
.menu_box .menu_item{PADDING-BOTTOM:0;PADDING-LEFT:0;PADDING-RIGHT:0;DISPLAY:block;PADDING-TOP:0;}
.menu_box .menu_item A{POSITION:relative;PADDING-BOTTOM:2px;PADDING-LEFT:17px;PADDING-RIGHT:12px;DISPLAY:block;COLOR:#000;PADDING-TOP:2px;}
.menu_box .menu_item:hover{BACKGROUND-COLOR:#0d7cc1;COLOR:#fff;TEXT-DECORATION:none;}
.menu_box .menu_item:hover a{color:#fff; text-decoration:none}
.menu_box .menu_item_now A I{POSITION:absolute;WIDTH:12px;BACKGROUND:url(../images/calendar/ico_calendar147eef.png) no-repeat -192px 0;HEIGHT:10px;OVERFLOW:hidden;TOP:5px;LEFT:4px;_left:-12px;}
.menu_box .menu_item_now A.item_hover I{BACKGROUND-POSITION:-192px -32px;}
.menu_select_m .menu_item A{PADDING-BOTTOM:2px;PADDING-LEFT:18px;PADDING-RIGHT:23px;PADDING-TOP:2px; }
.menu_select_m{_height:230px;}
.menu_select_ie6{_height:auto;}
.menu_bd{border-radius:0;box-shadow:0 0 5px rgba(0,0,0,0.25);BORDER-BOTTOM:#c3c3c3 1px solid;BORDER-LEFT:#c3c3c3 1px solid;BORDER-TOP:#c3c3c3 1px solid;BORDER-RIGHT:#c3c3c3 1px solid;}
.menu_obj{ display:none; background:#fff;}
.menu_obj ul{ background:#fff;}