/**
 * CSS File for ezMark jQuery Plugin
 *
 **/
.ez-hide { opacity: 0; filter:alpha(opacity=0); }
.ez-checkbox {
	background: transparent url('../images/checkbox-red.png') 0 0px no-repeat;
	display:inline-block;
}

.tree-checkbox .ez-checkbox {
	background-image: url('../images/checkbox-tree.jpg');
}
.gray-checkbox .ez-checkbox {
	background-image: url('../images/checkbox-gray.jpg');
}

.lightgray-checkbox .ez-checkbox {
	background-image: url('../images/checkbox-lightgray.png');
}

.ez-radio {
	background: transparent url('../images/radio-black.png') 0 1px no-repeat;
	display:inline-block;
}

.ez-checked { background-position: 0 -19px; }
.ez-selected { background-position: 0 -19px; }

.ez-checkbox-green {
	background: transparent url('../images/checkbox-green.png') 0 1px no-repeat;
	display:inline-block;
	*display: inline;
}
.ez-checked-green { background-position: 0 -18px; }
.ez-checkbox, .ez-radio { zoom: 1; *display:inline; _height:30px; line-height: 0;}
.ez-checkbox {

	width: 19px;
	height: 19px;
}