@charset "utf-8";
/*header*/
.indexHeader{background:url("images/head_bj.png") repeat-x;}
.headbg{background:url("images/head_bj2.png") no-repeat scroll left top;}
.index_nav .index_menu{background:url("images/nav_menu.png") no-repeat}
#div_tab LI{background:url("images/t_tab_uselectbg.png");}
#div_tab LI SPAN{background:url("images/t_tab_uselectbg.png") no-repeat scroll right bottom;}
#div_tab LI.crent{background:url("images/t_tab_selectbg.png");}
#div_tab LI.crent SPAN{background:url("images/t_tab_selectbg.png") no-repeat scroll right bottom;}
.s_tab{background:url("images/s_tab.png");}
/*个人桌面*/
.home{background:url("images/homebg.png") repeat-x #e1efe3;}
.bottom{background:#3da34c;}
.icon-text{background:url("images/icon_text_l.png") no-repeat;}
.icon-text span{background:url("images/icon_text_r.png") no-repeat scroll right;}

/*---内容样式----*/
.contentTitle{color:#008810; border-bottom:2px solid #3ea54d}
.contentTitle_con{color:#008810;}
.m_left li.current a{background:url("images/menu_ahover_bg.png") no-repeat scroll 1px 0;}
.m_right li.current{background:url("images/menu_ahover_bg.png") no-repeat scroll 0 -42px;}
.detailsPage h2{color:#008810;}
.detailsPage h3{border-bottom:2px solid #3EA54D}

.file_top_list{background:#e1efe3;border-bottom:1px solid #92be9e;}
.leftMenu ul.menuList li.current{background:#D4E5D6;}

/*左侧菜单样式*/
.BlockTop TD{background:url("images/left_menu_bj.png"); height:31px!important; line-height:31px;}
.BlockTop TD.center{border-left:1px solid #92be9e;border-right:1px solid #92be9e; background-position:0 0;}
.service-menu .menu-on{background:#d4e5d6;}
.blockBox{border:1px solid #92be9e;}

/*邮件左侧菜单样式*/
.leftMenu .Meil_wrap , .leftMenu .Meil_wrap , .leftMenu .Meil_wrap .blockBox{background:#e1efe3;}
.Meil_box{background:url("images/meil_bg.png");}
.leftMenu .Meil_wrap ul.menuList li.current{background:#d4e5d6;}
.leftMenu .Meil_wrap ul.menuList li a , .leftMenu .Meil_wrap .blockBox h4 , .leftMenu .Meil_wrap ul.menuList li i{ color:#000;}
.leftMenu .Meil_wrap ul.menuList li a:hover{background:#d4e5d6;}
.leftMenu .Meil_wrap{border-right:1px solid #92be9e}

/*事务提醒*/
.news_pop{background:url("images/msgPop.png") no-repeat;}
.news_pop .btnShowMsg input{background:url("images/btnShowMsg.png") no-repeat; color:#3DA34C;}

/*及时消息*/
.dialog .head-left{background:url("images/smsbox_bg.png") no-repeat scroll left top;}
.dialog .head-center{background:url("images/smsbox_bg.png") repeat-x scroll left -30px;}
.dialog .head-right{background:url("images/smsbox_bg.png")  no-repeat scroll left -60px;}

/*组织结构*/
#org_pannel{border:1px solid #3ea54d;}
#org_pannel .pannelTab{background:url("images/org_panel_bg.png") repeat-x;}
#org_pannel .orgListbox{border:1px solid #3ea54d }
#org_pannel .pannelTab span.current{background:url("images/org_panel_bg_current.png");}

