/* CSS Document */
/*
@Author:	王心卫
*/
html, body, section, article, nav, header,table,textarea,input, footer, form, div, em, span, a, label, p, h1, h2, h3, h4, h5, h6, dl, ul, ol, li, dt, dd, select th,i{ margin: 0; padding: 0; font-size:medium;vertical-align:middle; font-style: normal; font-weight:normal;font-size:14px;}
body, select, input, option {  font-family: "Microsoft YaHei",Arial,Simsun; }
body{background:#f2f2f2;color: #555; font-size:14px;}
form{border:0;margin:0;padding:1px}
img{border:0;vertical-align:middle}
textarea{width:95%;}
body > header, body > section { clear: both; }
input{ vertical-align:middle}
li { list-style-type: none; -webkit-tap-highlight-color:rgba(0,0,0,0); }
a:link{color: #444; text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0); }
a:active{color: #0a0a0a; text-decoration:none;}
a:visited{color: #444; text-decoration:none;}
.inputTable td{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.fl {float: left}
.fr {float: right}
.f12 {font-size: 12px}
.f14 {font-size: 14px}
.f16 {font-size: 16px}
.f12b {font-size: 12px; font-weight: bold}
.f14b {font-size: 14px; font-weight: bold}
.f16b {font-size: 16px; font-weight: bold}

.m_all_5 {margin: 5px}
.p_all_5 {padding: 5px;}
.m_all_10 {margin: 10px}
.p_all_10 {padding: 10px;}
.m_all_20 {margin: 20px}
.p_all_20 {padding: 20px;}
.mt5 {margin-top: 5px}
.mr5 {margin-right: 5px}
.mb5 {margin-bottom: 5px}
.ml5 {margin-left: 5px}
.pt5 {padding-top: 5px}
.pr5 {padding-right: 5px}
.pb5 {padding-bottom: 5px}
.pl5 {padding-left: 5px}
.mt10 {margin-top: 10px}
.mr10 {margin-right: 10px}
.mb10 {margin-bottom: 10px}
.ml10 {margin-left: 10px}
.pt10 {padding-top: 10px}
.pr10 {padding-right: 10px}
.pb10 {padding-bottom: 10px}
.pl10 {padding-left: 10px}
.mt20 {margin-top: 20px}
.mr20 {margin-right: 20px}
.mb20 {margin-bottom: 20px}
.ml20 {margin-left: 20px}
.mt15 {margin-top: 15px}
.pt20 {margin-top: 20px}
.pr20 {padding-right: 20px}
.pb20 {padding-bottom: 20px}
.pl20 {padding-left: 20px}
.center {text-align: center}
.right {text-align: right}
.l22 {line-height: 22px}
.l26 {line-height: 26px}
.l25 {line-height: 25px}
.l30 {line-height: 30px}
.nocenter {text-align: left}
.top0 {clear: both; padding-top: 0px}
.top1 {clear: both; padding-top: 1px}
.top4 {clear: both; padding-top: 4px}
.top5 {clear: both; padding-top: 5px}
.top10 {clear: both; padding-top: 10px}
.top15 {clear: both; padding-top: 15px}
.clear {line-height: 0px; height: 0px; clear: both; font-size: 0px}
input[type=text]:focus::-webkit-input-placeholder, input[type=search]:focus::-webkit-input-placeholder { color: rgba(0,0,0,0); }
input:focus,:active, :focus { outline: 0 none; background-color:transparent; }
.red{ color:#ff0000}
.green{ color:#339900;}
.orange{color:#ff6600}
.blue{ color:#0066cc;}
.black{ color:#000}
.yellow{ color:#ffc000;}
.gray{ color:#888}
/*input style*/
body {padding-top:45px;}
body > .header,body > header{ height:45px;background:url(../images/headbg.png) repeat-x;background-size:auto 45px; padding:0; position:fixed; top:0px; left:0px; width:100%;z-index:9999}
body > .header h1,body > header h1{line-height:44px; text-align:center; font-size:18px; text-align:center; color:#fff; }
body > .header a:link{ color:#fff; text-decoration:none;}
body > .header a:visited{ color:#fff;}
body > .header a:hover{ color:#fff;}
body > .header a:active{ color:#fff;}
body > .header .btnBack,body > header .btnBack{display:inline-block;width:55px;height:30px;line-height:28px;font-size:12px;color:#fff;vertical-align:middle;background:url(../images/headbtn.png) no-repeat;background-size:auto 29px;position:absolute; top:8px; left:10px; padding:0px; text-align:center; }
body > .header .btnTxl,body > header .btnTxl{display:inline-block;width:55px;height:30px;8vertical-align:middle;background:url(../images/btnTxl.png) no-repeat;background-size:45px auto;position:absolute; top:8px; left:10px; padding:0px; text-align:center; }
label.checkbox {padding-left:25px; cursor:pointer;background: url(../images/check.png) no-repeat left -26px; line-height:25px; height:26px; display:inline-block; margin-right:00px; background-size:25px; cursor:pointer} 
label.checked {background-position:left 0px;} 
label.disabled{background-position:left 0px;}
.hRadio {padding-left: 30px; display: inline-block;background: transparent url(../images/radio.png) no-repeat left top;height: 30px; line-height:30px;cursor:pointer;vertical-align:middle;}
.hRadio_Checked { background-position: left bottom;}
/*page*/
.bg{filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6900', endColorstr='#FF9800'); height:20px;}
.helpInfo{ padding:10px;}
.helpInfo h2{ line-height:26px; font-size:18px; color:#222}
.helpInfo p{ padding-left:28px; line-height:24px; color:#555}
.warning{ line-height:30px; background:#FEEFDA; padding-left:28px; font-size:14px; border-radius:3px}
.borderImage{-webkit-tap-highlight-color:rgba(0,0,0,0);} 
.choose p {position: relative;width: 100%;margin-top:0px;}
.choose p:after {content: "";top: 11px;right: 7px;position: absolute;display: inline-block;font-size: 0;border-top: 2px solid #666;border-left: 2px solid #666;width: 6px;height: 6px;background-color: transparent;-webkit-transform: rotate(225deg);
}
.choose p select {-webkit-appearance: none;width: 100%;height: 33px;-webkit-border-radius: 0;border: solid 1px #D5D5D5;border-top-color: #BDBDBD;border-width: 1px;color: #333;font-size: 16px;padding-right: 16px;background: #fff;
}
.choose p select option {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;
}
.choose p select:focus {outline: none;
}
.choose p:after {right: 10px;
}
.choose p select {font-size: 14px;
}