/*common css*/
body {
	font-size: 14px;
	font-family: "microsoft yahei";
	background: #fff;
	padding: 0;
	margin: 0;
}
.colorFont {
	color : #E3E3E3
}
body.bg-gray {
	background: #f0f0f0;
}
.block {
	display: block;
}
ul,
li,
p {
	list-style: none;
	padding: 0;
	margin: 0;
}
.hide {
	display: none !important; 
}
/*.icons*/
.icons {
	background-image: url(../../images/icon@2x.png);
	background-repeat: no-repeat;
	background-size: 36px auto;
	display: inline-block;
}
.icon-18x18 {
	width: 18px;
	height: 18px;
}
/*input*/
input,
select {
	border: none;
	font-family: "microsoft yahei";
	width: 100%;
	height: 100%;
	display: block;
	padding: 0 10px;
	box-sizing: border-box;
	outline: none;
	resize: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #ccc;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #ccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #ccc;
}
/*.header-bar*/
.header-bar {
	font-size: 18px;
	text-align: center;
	width: 100%;
	height: 44px;
	line-height: 44px;
	background: #00b4ff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}
	.header-bar .title {
		color: #fff;
	}
	.header-bar .icon-return {
		background-position: 0 -18px;
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: -9px;
	}
	.header-bar .right-txt {
		color: #fff;
		font-size: 14px;
		position: absolute;
		right: 15px;
		top: 0;
	}
/*.container-wrapper*/
.container-wrapper {
	margin-top: 44px;
}
.container-wrapper.special {
	margin-top: 94px;
}
/*.tab*/
.tab {
	height: 40px;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 10px;
}
	.tab li {
		width: 20%;
		float: left;
		box-sizing: border-box;
		padding: 0 5px;
	}	
		.tab li span {
			font-size: 14px;
			height: 38px;
			line-height: 38px;
			display: block;
			text-align: center;
			cursor: pointer;
		}
		.tab li span.current {
			border-bottom: 2px solid #00b4ff;
		}
/* .people-list{
	    padding-top: 12px;
} */
.top5 {
	margin: 5px 0 0 0;
}
	.people-list .row,
	.reward-list .row {
		background: #fff;
		overflow: hidden;
		display: block;
		padding: 7px 10px;
		border-bottom: 1px solid #e5e5e5;
		position: relative;
	}
	.people-list .row.sign {
		padding-right: 50px;
	}
		.people-list .row .time {
			color: #999;
			font-size: 14px;
			position: absolute;
			right: 10px;
			top: 17px;
		}
		.people-list .row .name-box {
			color: #fff;
			font-size: 12px;
			text-align: center;
			width: 40px;
			height: 40px;
			display: block;
			float: left;
			line-height: 40px;
			border-radius: 50%;
			overflow: hidden;
		}
		.people-list .row .name-box img {
			width: 100%;
			height: 100%;
		}
		.people-list .row .name-box.orange {
			background: #ff6633;
		}
		.people-list .row .name-box.green01 {
			background: #7abb60;
		}
		.people-list .row .record {
			display: block;
			height: 42px;
			line-height: 42px;
		}
		.people-list .row .info {
			font-size: 14px;
			height: 40px;
			margin-left: 50px;
		}
			.people-list .row .info .department,
			.reward-list .row .money,
			.loading-more {
				font-size: 12px;
				color: #999;
			}
			.loading-more {
				color: #999;
				text-align: center;
				padding: 10px 0;
			}
/*.reward-list .row*/
.reward-list .row .info-left {
	float: left;
}
.reward-list .row .info-right {
	float: right;
}
	.reward-list .row .info-right span {
		color: #999;
		text-align: right;
	}
	.reward-list .row .info-right .date {
		margin-top: 3px;
	}
	.reward-list .row .name {
		font-size: 15px;
		margin-bottom: 5px;
	}
/*.search-bar*/
.search-bar {
	padding: 8px 80px 8px 10px;
	position: fixed;
    width: 100%;
    top: 44px;
    z-index: 99;
    box-sizing: border-box;
    background: #f0f0f0;
}
	.search-bar .input-area {
		display: block;
		height: 32px;
		border: 1px solid #e5e5e5;
		position: relative;
		padding: 0 0 0 30px;
		background: #fff;
	}
	.search-bar .btn {
		color: #666;
		width: 60px;
		height: 32px;
		line-height: 30px;
		text-align: center;
		border: 1px solid #e5e5e5;
		background: #fff;
		position: absolute;
		right: 10px;
		top: 8px;
		display: block;
	}
		.search-bar .icon-search {
			background-position: -18px 0;
			position: absolute;
			left: 10px;
			top: 50%;
			margin-top: -9px;
		}
/*.head-portrait-box*/
.head-portrait-box {
	text-align: center;
	padding: 20px 0 15px 0;
	background: #fff;
	border-bottom: 8px solid #ebebeb;
}
	.head-portrait-box .img-area {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		overflow: hidden;
		display: inline-block;
		margin-bottom: 5px;
	}
	.img-area img {
		width: 100%;
		height: 100%;
	}
/*.detail-list*/
.detail-list {
	background: #fff;
}
	.detail-list ul {
		padding: 10px 7px;
	}
	.reward-detail ul {
		padding: 10px 15px;
	}
		.detail-list ul li {
			font-size: 14px;
			position: relative;
			padding: 0 0 0 115px;
			min-height: 24px;
			line-height: 24px;
			margin-bottom: 3px;
		}
			.detail-list ul li .title {
				color: #888;
				width: 105px;
				text-align: right;
				display: block;
				position: absolute;
				left: 0;
			}
/*.detail-list .row*/
.detail-list .row {
	position: relative;
	height: 42px;
	line-height: 42px;
	padding: 0 40px 0 15px;
	border-bottom: 1px solid #f0f0f0;
	background: #fff;
}	
	.detail-list .row .icon-arrow-right {
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -9px;
		background-position: 0 0;
	}
/*.reward-detail*/
.reward-detail .main-title {
	padding: 7px 15px;
	background: #f0f0f0;
}
	.reward-detail .row-doc {
		font-size: 14px;
		padding: 6px 15px;
		border-bottom: 1px solid #f0f0f0;
	}
@media screen and (max-width: 320px) {
   .tab li span {
		font-size: 12px;
	}
}