@charset "utf-8";
/* CSS Document */
/*html,body {	padding: 0;	margin: 0;overflow: auto;overflow-x: hidden;width:100%;height:100%;}*/
html {height: 100%;_overflow-x: hidden;	_overflow-y: auto;}

/*head*/
.indexHeader {height: 122px; background:#0591aa;}
.indexHeaderCls{ height:68px;}
.indexHeaderCls .indexContent{ display:none;}
.indexHeaderCls #div_tab{ top:5px;}

.indexHeaderCls_no{ height:35px; overflow:hidden;}

.headbg{ width:100%;background:url(../images/main/headbg.png) no-repeat right top;}
.indexContent{height: 54px;overflow:hidden; }
.indexContent h1{margin: 11px 0 0 10px;font-size:26px; color:#fff;}
.indexContent h1 img{float: left;height: 28px;margin-right: 8px;margin-top: 5px;}

.head_nav {color: #fff; position: absolute; top: 4px; right:0;}
.head_nav li{ float:left; padding-right:17px;}
.head_nav li p{ line-height:28px; font-size:12px; color:#FFF; text-align:right;}
.head_nav li p .time{font-size:27px;font-family:"Arial";font-weight:bold}
.head_nav li p.user{font-size:14px;}
.head_nav li p.user font{color:#edb11a;}
.head_nav li.last{ padding-right:10px;}

.menu_right{ float:right;height:35px; /*width:118px;*/ margin-right:2px;}
/*.menu_right em{height: 35px; width: 23px;  text-align: center; display: block; color: #fefefe; float: left;background: url(../images/main/icon_head.png) no-repeat; cursor:pointer; margin:0 3px}*/
.menu_right span{ position:relative; height:27px; width:29px; float:left; margin-top:6px;margin-right:8px;}
.menu_right span.on{background:#40b9b9;}
.menu_right em{height:100%; width:100%;float: left;background: url(../images/main/icon_head.png) no-repeat; cursor:pointer; }
.menu_right em i{ position:absolute; width:100%; height:100%; left:0; top:0}
.menu_right em.cut{background-position: left 10px;padding-left: 25px;width: 80px;}/*切换*/
.menu_right em.fit{background-position:center -43px;}/*设置*/
.menu_right em.quit{background-position:center -74px;}/*注销*/
.menu_right em.clsHead{ background-position:0px -109px;}/*收起*/
.menu_right em.opHead{ background-position:0 -138px;}/*展开*/
.menu_right em.brain{ background-position:-5px -172px;}/*电脑*/
.menu_right em.skin{ background-position:-1px -218px;}/*换肤*/
.menu_right em.stru{ background-position:-2px -258px;}/*结构*/
.menu_right em.index{ background-position:0 -300px;}/*换主页*/

/*tab*/
.index_nav { width:100%; line-height: 35px;height:35px;overflow:hidden}
.index_nav .index_menu{width: 85px; height:27px; line-height:27px; font-size:16px; font-weight:bold; color:#13496c; margin-left:6px; float:left;background:#fff;cursor:pointer; margin-top:4px; margin-right:8px; border-radius:3px;}
.index_nav .index_menu em{float:left; background:url(../images/main/home.png) no-repeat; width:21px; height:19px; display:inline;margin:4px 7px 0 9px;}

.index_nav .sy_nav{background: url(../images/sy_bj.png) no-repeat; width:79px; height:33px; float:left; margin-top:2px;}
.index_nav .divBox {display: block; float: left; margin-left: 20px;}
.index_nav div.current_nav {padding-left: 20px;  background: url(../images/navs_a_L.png) no-repeat; position: relative;}
.index_nav div.current_nav a{display:block; float: left; font-weight: bold; height:29px; line-height:29px; padding-right: 30px; background:url(../images/navs_a_R.png) no-repeat right bottom;}
.index_nav div.current_nav b.xx{display: block; width: 8px; height: 8px; background: url(../images/XX.png) no-repeat; position: absolute; right: 15px; top: 10px; cursor: pointer;}
.index_nav div.current_nav b.xx:hover {width: 7px; height: 7px; border: 1px solid #dedede;}
/*tab scroll*/
.index_nav .tabbox { float:left; height:30px;background:None; overflow:hidden; margin-top:5px;}
#taskbar_center{float:left;padding-top:2px;}

#tabs_container{white-space:nowrap;height:33px;overflow:hidden;float:left;}
#div_tab {white-space: nowrap;height:33px; float:left; width: auto;z-index:99}
#div_tab li{position:relative;text-align:center;float:left;margin:1px 3px 0 3px; display:inline; padding:0 10px; height:32px; border-radius:3px 3px 0 0;font-size:16px; line-height:32px; border:1px solid #03798c; border-bottom:none; background:#09899e; max-width:100px;   overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;}
#div_tab li a{color:#FFF;}
#div_tab li#shouye {width:60px; padding-right:10px;}
#div_tab li.crent{ background:#f5f5f5; border:1px solid #ececec;border-bottom:none; padding:0 25px 0 10px;}
#div_tab li.crent a{color:#333;}
#div_tab li.crent .win_close{ background:url(../images/main/colse.png) no-repeat; width:10px; height:10px; position:absolute; right:10px; top:12px; cursor:pointer;}

.btnLeft,.btnRight { width:20px; height:30px;display:none;z-index:999; float:left;  cursor:pointer;}
.btnLeft a{ display:block; width:20px;  height:20px; background:url(../images/btnScroll_r.png) no-repeat 0px 2px; margin-top:5px;}
.btnLeft a:Hover{background-position:0px -18px;}
.btnRight a{ display:block;width:20px; height:20px;background:url(../images/btnScroll_l.png) no-repeat 0px 2px;  margin-top:5px;}
.btnRight a:hover{ background-position:0px -18px;}
.s_tab{ height:32px;line-height:32px; background:#f5f5f5; position:relative; border-bottom:1px solid #cccccc;}
.s_tab .lastMenu{ position:absolute;top:0px;/*left:10px;*/}
.s_tab li{height:32px;line-height:32px;float:left; overflow:hidden;margin:0 3px;}
.s_tab li a{ display:inline-block;height:18px; line-height:18px; padding:0 15px;color:#000;margin-top:6px;overflow:hidden; font-size:16px;}
.s_tab li a:hover{text-decoration: none}
.s_tab li.current{border-bottom:1px solid red;}
.s_tab li.current a{color:#ff0000;}
.s_tab .mCurrent{ position:absolute;top:0px;left:10px; display:block;}


/*menu*/
.menu{ width:384px; position:absolute; top:99px; left:5px;z-index:9; display:none;}
.menu .m_c{ position:relative;}
.menu .m_c .top_jt{ position:absolute; z-index:1001; background:url(../images/main/top_jt.png) no-repeat; width:15px; height:10px; top:-9px; left:30px;}
.menu a{ cursor:pointer}
.m_left{ width:170px;position:absolute;left:0px; border:1px solid #ccc; z-index:11;background:#f5f5f5;}
.m_left li{ height:40px; line-height:40px;cursor:pointer; color:#000;}
.m_left li em{ display:inline-block; width:20px; height:21px; background:url(../images/main/menu.png) no-repeat; margin:0 10px; vertical-align:middle;}
.m_left li.current{background:url(../images/main/menu_bj.png) no-repeat; color:#fff; font-weight:bold; text-decoration:none;padding-right:14px; margin-right:0px; border-bottom:none;}
.m_left li.current em{background:url(../images/main/menu_on.png) no-repeat;}
.m_left li em.gwgl ,.m_left li.current em.gwgl{ background-position:0px 1px}/*公文管理*/
.m_left li em.gzsq ,.m_left li.current em.gzsq{ background-position:0px -865px}/*工作申请*/
.m_left li em.gzsp ,.m_left li.current em.gzsp{ background-position:0px -905px}/*工作审批*/
.m_left li em.grsw ,.m_left li.current em.grsw{ background-position:0px -96px}/*个人事务*/
.m_left li em.xzbg ,.m_left li.current em.xzbg{ background-position:0px -144px}/*行政办公*/
.m_left li em.ywyz ,.m_left li.current em.ywyz{ background-position:0px -199px;}/*邮文驿站*/
.m_left li em.zcztc ,.m_left li.current em.zcztc{ background-position:0px -247px}/*政策直通车*/
.m_left li em.sqfc ,.m_left li.current em.sqfc{ background-position:0px -293px}/**/
.m_left li em.xph ,.m_left li.current em.xph{ background-position:-1px -344px}/*新品汇*/
.m_left li em.zsgl ,.m_left li.current em.zsgl{ background-position:0 -397px}/*知识管理*/
.m_left li em.rlzy ,.m_left li.current em.rlzy{ background-position:0 -448px}/*人力资源*/
.m_left li em.txl ,.m_left li.current em.txl{ background-position:0 -495px}/*通讯录*/
.m_left li em.xtgl ,.m_left li.current em.xtgl{ background-position:0 -606px}/*系统管理*/
.m_left li em.xtsz ,.m_left li.current em.xtsz{ background-position:0 -550px}/*系统设置*/
.m_left li em.grsz ,.m_left li.current em.grsz{ background-position:0 -658px}/*个人事务*/
.m_left li em.tpdc ,.m_left li.current em.tpdc{ background-position:0 -711px}/*投票调查*/
.m_left li em.cjgl ,.m_left li.current em.cjgl{ background-position:0 -765px}/*抽奖管理*/
.m_left li em.rwgl ,.m_left li.current em.rwgl{ background-position:0 -819px}/*任务管理*/
.m_left li em.bbgl ,.m_left li.current em.bbgl{ background-position:0 -942px}/*报表管理*/
.m_left li em.bmzl ,.m_left li.current em.bmzl{ background-position:0 -984px}/*部门专栏*/

.m_right{ width:200px; height:500px; overflow:auto;margin-left:171px; padding:5px; background:#FFF; position:absolute;top:0px;right:1px; border:1px solid #ccc; z-index:10}
.m_right li{line-height:40px;}
.m_right li em{ display:inline-block; width:29px; height:25px; background:url(../images/main/two_menu.png) no-repeat; margin:0 6px 0 10px; vertical-align:middle;}
.m_right li em.swgl{ background-position:2px 2px}/*收文管理*/
.m_right li em.fwgl{ background-position:2px -38px}/*发文管理*/
.m_right li em.gwgd{ background-position:2px -79px}/*公文归档*/
.m_right li em.wdsq{ background-position:4px -117px}/*我的申请*/
.m_right li em.wdsp{ background-position:2px -158px}/*我的审批*/
.m_right li em.gzrz{ background-position:3px -199px}/*工作日志*/
.m_right li em.dxt{ background-position:3px -239px;}/*短信通*/
.m_right li em.rcgl{ background-position:2px -278px;}/*日程管理*/
.m_right li em.nbyj{ background-position:2px -316px}/*内部邮件*/
.m_right li em.swtx{ background-position:2px -358px;}/*事务提醒*/
.m_right li em.ltjl{ background-position:3px -398px;}/*聊天记录*/
.m_right li em.jsxx{ background-position:2px -438px}/*即时消息*/
.m_right li em.ggck{ background-position:0px -478px;}/*公告查看*/
.m_right li em.gggl{ background-position:0px -518px;}/*公告管理*/
.m_right li em.ggsp{ background-position:0px -557px;}/*公告审批*/
.m_right li em.rzgl{ background-position:4px -600px;}/*日志管理*/
.m_right li em.zlcy{ background-position:3px -637px;}/*资料查阅*/
.m_right li em.zlgl{ background-position:2px -719px}/*资料管理*/
.m_right li em.dack{ background-position:2px -756px;}/*档案查看*/
.m_right li em.dagl{ background-position:3px -677px;}/*档案管理*/
.m_right li em.dacx{ background-position:2px -797px;}/*档案查询*/
.m_right li em.dwtxl{ background-position:3px -838px;}/*单位通讯录*/
.m_right li em.wbtxl{ background-position:2px -878px;}/*外部通讯录*/
.m_right li em.qz{ background-position:-1px -920px;}/*群组*/
.m_right li em.dwtxlgl{ background-position:3px -960px;}/*单位通讯录管理*/
.m_right li em.wbtxlgl{ background-position:0px -1001px;}/*外部通讯录管理*/
.m_right li em.dlyh{ background-position:2px -1042px;}/*登录用户管理*/
.m_right li em.jsqx{ background-position:2px -1086px;}/*角色权限管理*/
.m_right li em.sjqx{ background-position:3px -1126px;}/*数据权限管理*/
.m_right li em.xtrz{ background-position:5px -1167px;}/*系统日志管理*/
.m_right li em.gzlsz{ background-position:2px -1207px;}/*工作流设置*/
.m_right li em.gwglsz{ background-position:3px -1247px;}/*公文管理设置*/
.m_right li em.ggtzsz{ background-position:3px -1290px;}/*公告通知设置*/
.m_right li em.swtxsz{ background-position:2px -1371px;}/*事务提醒设置*/
.m_right li em.sjzd{ background-position:4px -1413px;}/*数据字典设置*/
.m_right li em.grxx{ background-position:3px -1454px;}/*个人信息*/
.m_right li em.mmxg{ background-position:0px -1497px;}/*密码修改*/
.m_right li em.wjlb{ background-position:5px -1541px;}/*问卷列表*/
.m_right li em.wdkq{ background-position:4px -1586px;}/*我的考勤*/
.m_right li em.xwzx{ background-position:4px -1632px;}/*新闻中心*/
.m_right li em.clgl{ background-position:1px -1675px;}/*车辆管理*/
.m_right li em.hygl{ background-position:4px -1717px;}/*会议管理*/
.m_right li em.kqtj{ background-position:2px -1759px;}/*考勤统计*/
.m_right li em.kqsz{ background-position:2px -1807px;}/*考勤设置*/
.m_right li em.xwzxsz{ background-position:3px -1853px;}/*新闻中心设置*/
.m_right li em.xzwj{ background-position:7px -1902px;}/*新增问卷*/
.m_right li em.wjgl{ background-position:7px -1950px;}/*问卷管理*/
.m_right li em.cjlb{ background-position:5px -1998px;}/*抽奖列表*/
.m_right li em.xzrw{ background-position:4px -2044px;}/*新增任务*/
.m_right li em.wfqd{ background-position:4px -2079px;}/*我发起的*/
.m_right li em.wcbd{ background-position:4px -2114px;}/*我承办的*/
.m_right li em.wzjd{ background-position:4px -2152px;}/*我转交的*/
.m_right li em.xzsq{ background-position:6px -2191px;}/*新增申请*/
.m_right li em.sqlb{ background-position:6px -2234px;}/*申请列表*/
.m_right li em.bbtb{ background-position:5px -2276px;}/*报表填报*/
.m_right li em.bbsp{ background-position:4px -2319px;}/*报表审批*/
.m_right li em.bbcy{ background-position:5px -2361px;}/*报表查阅*/
.m_right li em.bbqx{ background-position:4px -2404px;}/*报表权限设置*/
.m_right li em.bbjc{ background-position:5px -2446px;}/*报表基础数据维护*/
.m_right li em.ltgl{ background-position:3px -2491px;}/*论坛管理*/
.m_right li em.yjfk{ background-position:4px -2532px;}/*意见反馈列表*/


/*潘博增加会议和资产图表开始*/
.m_left li em.hysgl ,.m_left li.current em.hysgl{ background-position:0 -1319px}/*会议管理*/
.m_left li em.zcgl ,.m_left li.current em.zcgl{ background-position:0 -1358px}/*资产管理*/

.m_right li em.hysyy{ background-position:0 -3367px}/*会议室预约*/
.m_right li em.hysqjl{ background-position:0 -3429px}/*会议室申请记录*/
.m_right li em.hysqsp{ background-position:0 -3486px}/*会议室审批*/
.m_right li em.hysgl{ background-position:0 -3541px}/*会议室管理*/
.m_right li em.hytj{ background-position:0 -3601px}/*会议统计*/


.m_right li em.zcrk{ background-position:0 -3656px}/*资产入库*/
.m_right li em.zcly{ background-position:0 -3715px}/*资产领用*/
.m_right li em.zcgh{ background-position:0 -3775px}/*资产归还*/
.m_right li em.zcdb{ background-position:0 -3832px}/*资产调拨*/
.m_right li em.zcwx{ background-position:0 -3889px}/*资产维修*/
.m_right li em.zcbf{ background-position:0 -3947px}/*资产报废*/
.m_right li em.zcpd{ background-position:0 -4006px}/*资产盘点*/
.m_right li em.zcrz{ background-position:0 -4065px}/*管理日志*/
.m_right li em.zczgl{ background-position:0 -4121px}/*资产组管理*/

/*潘博增加会议和资产图表结束*/



.m_right li .tile_a{ display:block;color:#000;padding-left:0px; /*font-size:15px;*/ text-decoration:none}
.m_right li .tile_a:hover{background:#f7f7f7}
.m_right li .part{background:url(../images/main/tow_menu_jtr.png) no-repeat 166px 17px;}
.m_right li .part:hover{background:#f7f7f7 url(../images/main/tow_menu_jtr.png) no-repeat 166px 17px;}
.m_right li dl{ display:none;}
.m_right li dl dd{font-weight:normal; cursor:pointer; padding-left:40px; overflow:hidden;}
.m_right li dl dd a{color:#000;background:url(../images/main/graydot.png) no-repeat left center; padding-left:15px; display:inline-block;}
.m_right li dl dd a:hover , .m_right li dl dd a.on{ text-decoration:underline; color:#0591aa; background:url(../images/main/bluedot.png) no-repeat left center;}
.m_right li.current dl{display:block}
.m_right li.current .tile_a{background:#f7f7f7}
.s_menu{ display:none;}
.m_right li.current .part{background:#f7f7f7 url("../images/main/tow_menu_jtd.png") no-repeat scroll 166px 17px;}

#first_panel .scroll-up {background: url("../images/main/scroll_arrow.png") no-repeat scroll center 0; cursor: pointer;  height: 12px; overflow: hidden; margin-top:5px;}
#first_panel .scroll-down {background: url("../images/main/scroll_arrow.png") no-repeat center -10px;cursor: pointer; height: 10px; overflow: hidden;}
#first_panel .scroll-up:hover {background-position: center -20px}
#first_panel .scroll-down:hover {background-position: center -30px}


/*main ifame*/
.iframe_body{width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;z-index:1}
.iframeFather {overflow-x: hidden;
	position:absolute;
	_position:relative;
	top:122px;
	_top: 0;
	left:0;
	bottom:35px;
	right:0;
	_overflow-x: hidden;
	overflow-y: auto;
	z-index:4;
	}
.iframeBox {position:absolute;
	_position: absolute;
	top:0px;
	left:0px;
	right: 0px;
	bottom:0px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index:6;
}
.iframeBox iframe,.iframeContent {position: absolute; _position:relative;_overflow:hidden;}
.iframeBox iframe,.iframeContent {
	width: 100%;
	height: 100%;
	background-color: #fff;
	_height: expression(document.body.offsetHeight -170 + 'px');
	z-index:5;
	_overflow-x: hidden;
	_overflow-y: auto;

}
.iframeFather_cls{top:68px;_top:-10px;}
.iframeFather_cls iframe{_height: expression(document.body.offsetHeight - 95 + 'px');}

/*左侧菜单*/
.mainpage{ padding-left:240px; position:relative; z-index:0;  height:100%;}
.mainpage .leftMenu{ width:240px; position:fixed;top:0px; left:0px; z-index:88}

.mainpage_r{ padding-right:240px; position:relative; z-index:0;  height:100%;overflow:hidden;}
.mainpage_r .leftMenu{ width:240px; position:fixed;top:0px; right:0px; z-index:88}
.listto_left{height:600px;overflow-y:auto;}
.center_content{overflow:auto;box-sizing:border-box;}

/*bottom
.bottom{width: 100%; text-align: center;height:30px;line-height:30px; overflow:hidden; color:#fff; background: #0591aa; position: absolute; bottom: 0; left: 0;}
.bottom i{ color:#fff; margin:0 3px;}
.exBot{ padding-top:0px; padding-right:5px;}
.exBot em{ display:inline-block; width:22px; height:20px; display:inline-block; vertical-align:middle; background:url(../images/main/affairs.png) no-repeat; line-height:20px; cursor:pointer; margin-right:10px;}
.exBot em.icon_work{background-position:0 -81px;}
.exBot em.messageBox{background-position:0 -40px;}
.exBot em.icon_group{ background-position:0px 0;}
.exBot em.icon_work_on{ background:url(../images/main/swtx.gif) no-repeat;}
.exBot em.messageBox_on{ background:url(../images/main/jsxx.gif) no-repeat;}*/

/*bottom*/
.bottom{width: 100%; text-align: center;height:34px;line-height:34px; overflow:hidden;background: #fff;color:#1194ab; position: absolute; bottom: 0; left: 0; border-top:1px solid #d9d9d9;}
.exBot{ padding-top:0px; padding-right:5px;}
.exBot em{ display:inline-block; width:22px; height:20px; display:inline-block; vertical-align:middle;line-height:20px; cursor:pointer; margin-right:20px;}
.exBot em.icon_work{ background:url(../images/main/swtx.png) no-repeat;}
.exBot em.messageBox{background:url(../images/main/jsxx.png) no-repeat;}
.exBot em.icon_group{background:url(../images/main/zzjg.png) no-repeat;}
.exBot em.icon_work_on{ background:url(../images/main/swtx.gif) no-repeat;}
.exBot em.messageBox_on{ background:url(../images/main/jsxx.gif) no-repeat;}


/*OA换肤*/
.oa_hf{ width:359px; overflow:hidden; position:absolute; right:5px; z-index:10000; top:79px; display:none;}
.oa_hf .top_oh{ background:url(../images/main/top_hf.png) no-repeat; width:365px; height:13px; overflow:hidden; float:left;}
.oa_hf .cent_oh{ background:url(../images/main/cent_hf.png); width:337px; float:left;  padding:0 13px 0 9px;}
.oa_hf .cent_oh h3{ background:url(../images/main/fg_bj.png) repeat-x left bottom; height:40px; line-height:40px; text-align:center; color:#000; font-size:14px; font-weight:100; float:left; width:100%;}
.oa_hf .cent_oh ul{ width:100%; float:left;}
.oa_hf .cent_oh ul li{ padding-left:15px; width:150px; height:104px; float:left; padding-top:20px;}
.oa_hf .cent_oh ul li img{ width:150px; height:104px; cursor:pointer;}
.oa_hf .cent_oh .close_hf{ height:50px; background:url(../images/main/fg_bj.png) repeat-x left top;float:left; width:100%; margin-top:20px;}
.oa_hf .cent_oh .close_hf em{ float:right; background:url(../images/main/close_hf.png) no-repeat; width:68px; height:27px; cursor:pointer; margin-top:13px; margin-right:10px;}
.oa_hf .down_oh{ background:url(../images/main/down_hf.png) no-repeat; width:365px; height:6px; overflow:hidden;}
/*iframe*/
.iframeresize{width:100%; min-height:200px;}

/*事务提醒-系统右下角*/
.work_pop{ position:absolute; background:url(../images/main/msgPop.png) no-repeat; width:259px; height:137px; overflow:hidden; z-index:1001; right:10px; bottom:30px; color:#333; display:none;}
.work_pop h2{ height:28px; line-height:28px; text-indent:40px; margin-top:6px;}
.work_pop h2 .close{cursor: pointer;float: right;height: 20px;margin-right: 6px; margin-top: 1px;  width: 20px;}
.work_pop p.msg{ padding:16px 20px;}
.work_pop p.more{height: 34px;line-height: 32px;margin-top: 7px;text-align: right; padding:0 10px;}

/*事务提醒-弹窗*/
.work_details{ padding:10px;}
.work_details h2{ height:30px; line-height:30px;}
.work_details h2 span{ color:#888;}
.work_details h2 a{ float:right; line-height:30px;}
.work_details dl dt{ height:27px; line-height:27px; color:#333; padding-left:10px; padding-right:25px; background:#ecf5f7 url(../images/main/work_icon.png) no-repeat right center;}
.work_details dl dd{ border-bottom:1px solid #e8eaeb; color:#555555; padding:8px 20px;}
.work_details dl dd p{ line-height:25px;}
.work_details dl dd p .day{ float:right; line-height:25px; color:#ff6600;}

/*没有数据*/
.no_data{background: url("../images/main/no_data.png") no-repeat;height: 70px;margin: 130px auto 0;padding-left: 80px; width: 170px;}
.no_data dt{font-size:20px; line-height:30px; color:#555555; padding-top:5px;}
.no_data dd{ color:#adadad; line-height:25px;}
.no_data dd .time{ color:#017a8f; padding:0 5px;}

/*组织-系统右下角*/
.organi_box{bottom: 29px;overflow: hidden;position: absolute;right: 2px;width: 261px;z-index: 1001; display:none;}
.organi_box .tab {background: url(../images/orangz_topbg.png);height: 44px;line-height: 44px;color:#fff}
.organi_box .tab_cur{background: url(../images/orangz_topbg_2.png);height: 44px;line-height: 44px;}
.organi_box .tab ul {margin: 3px 5px;font-size: 18px;}
.organi_box .tab li {width: 125px;float: left;text-align: center;cursor: pointer;}
.organi_box .tab li.one {color: #0591aa;}
.organi_box .tab li.two{color:#fff;}
.organi_box .tab_cur li.two{color: #0591aa;}
.organi_box .tab_cur li.one{color:#fff;}
.organi_box .organi_middle {background: url(../images/orangz_middlebg.png) repeat-y;padding: 12px;}
.organi_box .organi_footer {background: url(../images/orangz_footbg.png);height: 28px;}
.organi_box .organi_middle_box {background: #fff;padding: 10px;}
.organi_box .organi_middle_box .tabContent { display:none}
 
/*左侧菜单样式*/
.leftframe_menu{padding-left:180px; position:relative;top:0px;}
.menu_l {width:179px;border-right: 1px solid #ccc;background:#f5f5f5;overflow:auto; position:absolute;top:0px; left:0px;}
.menu_l .s_menu{height:auto;}
.menu_l .s_menu h2{height:30px; line-height: 30px; font-family:"微软雅黑"; padding-left: 26px; font-size: 14px; font-weight: bold; background: url(../images/index/menu_title.png) repeat-x; color: #324A62;}
.menu_l .s_menu ul.l_f_menu li{overflow: hidden; padding-bottom:10px;}
.menu_l .s_menu ul.l_f_menu li p{height:33px; background:#e6e8e9; line-height:33px;font-size: 14px; color: #333;border-bottom: 1px solid #ccc; font-weight:bold;margin-bottom:10px }
.menu_l .s_menu ul.l_f_menu em{width:29px; height: 26px; margin-left: 8px; background:url(../images/main/menu.png) no-repeat;_background: url(../images/menu_ie6.png) no-repeat; overflow:hidden;  float:left; margin-top:7px;}
/*.menu_l .s_menu ul.l_f_menu em.em_1{ background-position: 0px 0px;}
.menu_l .s_menu ul.l_f_menu em.em_2{ background-position: 2px -37px;}*/

.menu_l .s_menu ul.l_f_menu em.gwgl{ background-position:0px 1px}/*公文管理*/
.menu_l .s_menu ul.l_f_menu em.gzsq{ background-position:0px -865px}/*工作申请*/
.menu_l .s_menu ul.l_f_menu em.gzsp{ background-position:0px -905px}/*工作审批*/
.menu_l .s_menu ul.l_f_menu em.grsw{ background-position:0px -96px}/*个人事务*/
.menu_l .s_menu ul.l_f_menu em.xzbg{ background-position:0px -144px}/*行政办公*/
.menu_l .s_menu ul.l_f_menu em.ywyz{ background-position:0px -199px;}/*邮文驿站*/
.menu_l .s_menu ul.l_f_menu em.zcztc{ background-position:0px -247px}/*政策直通车*/
.menu_l .s_menu ul.l_f_menu em.sqfc{ background-position:0px -293px}/**/
.menu_l .s_menu ul.l_f_menu em.xph{ background-position:-1px -344px}/*新品汇*/
.menu_l .s_menu ul.l_f_menu em.zsgl{ background-position:0 -397px}/*知识管理*/
.menu_l .s_menu ul.l_f_menu em.rlzy{ background-position:0 -448px}/*人力资源*/
.menu_l .s_menu ul.l_f_menu em.txl{ background-position:0 -495px}/*通讯录*/
.menu_l .s_menu ul.l_f_menu em.xtgl{ background-position:0 -606px}/*系统管理*/
.menu_l .s_menu ul.l_f_menu em.xtsz{ background-position:0 -550px}/*系统设置*/
.menu_l .s_menu ul.l_f_menu em.grsz{ background-position:0 -658px}/*个人事务*/
.menu_l .s_menu ul.l_f_menu em.tpdc{ background-position:0 -711px}/*投票调查*/
.menu_l .s_menu ul.l_f_menu em.cjgl{ background-position:0 -765px}/*抽奖管理*/
.menu_l .s_menu ul.l_f_menu em.rwgl{ background-position:0 -819px}/*任务管理*/
.menu_l .s_menu ul.l_f_menu em.bbgl{ background-position:0 -942px}/*报表管理*/
.menu_l .s_menu ul.l_f_menu em.bmzl{ background-position:0 -984px}/*部门专栏*/

.menu_l .s_menu dl{ display:none;}
.menu_l .s_menu dt {height:30px;line-height:30px;clear: both;padding-left: 10px;color: #333;margin-left:31px;cursor:pointer; background: url(../images/main/menu_icon.png) no-repeat 0 -91px;}
.menu_l .s_menu dt a{color: #333;display: inline-block;}
.menu_l .s_menu dt a:hover{color:#0179a5;text-decoration:none}
.menu_l .s_menu dt.on a{color:#0179a5;}
.menu_l .s_menu h3{height:30px; line-height:29px;  padding-left:38px; background:url(../images/main/menu_icon.png) no-repeat 25px 11px; color:#333; cursor:pointer; }
.menu_l .s_menu h3 a{color:#333; text-decoration:none;}
.menu_l .s_menu h3.off{background:url(../images/main/menu_icon.png) #0591aa no-repeat scroll 25px -53px; color:#fff;}
.menu_l .s_menu h3.off a{color:#fff;}
.menu_l .s_menu h3.on{background:url(../images/main/menu_icon.png) #0591aa no-repeat scroll 21px -19px; color:#fff;}
.menu_l .s_menu h3.on a{color:#fff;}



/*引导页面*/
.guide{position:absolute;z-index:9999;left:0; top:0; width:100%; height:100%;}
.guide .shade{ position:absolute;z-index:1;background:#000;filter:alpha(opacity=50);opacity:0.5; left:0; top:0; width:100%; height:100%;}
.guide .close{position:absolute; width:28px; height:28px;cursor:pointer;}
.guide .carry{position:absolute; width:87px; height:35px;cursor:pointer;}
.guide .guide_box0{ position:absolute; background:url(../images/guide/gui0.png) no-repeat;left:50%; top:50%; width:672px; height:378px; margin-left:-336px; margin-top:-189px; z-index:2;}
.guide .guide_box0 .gb{position:absolute;width:124px; height:40px; top:226px; left:440px; cursor:pointer;}
.guide .guide_box0 .goin{ position:absolute; width:124px; height:40px; top:226px; left:287px; cursor:pointer;}
.guide .guide_box1{ position:absolute; background:url(../images/guide/menu.png) no-repeat; left:4px; top:55px; width:502px; height:258px; z-index:2;}
.guide .guide_box1 .close{right:2px; top:87px;}
.guide .guide_box1 .carry{left:270px; top:206px;}
.guide .guide_box2{ position:absolute; background:url(../images/guide/gui2.png) no-repeat; left:2px; top:95px; width:628px; height:557px; z-index:2;}
.guide .guide_box2 .close{right:2px; top:177px;}
.guide .guide_box2 .carry{left:396px; top:297px;}
.guide .guide_box3{ position:absolute; background:url(../images/guide/gui3.png) no-repeat; left:176px; top:97px; width:695px; height:556px; z-index:2;}
.guide .guide_box3 .close{right:39px; top:226px;}
.guide .guide_box3 .carry{left:426px; top:345px;}
.guide .guide_box4{ position:absolute; background:url(../images/guide/gui4.png) no-repeat; right:55px; top:52px; width:480px; height:262px; z-index:2;}
.guide .guide_box4 .close{right:110px; top:91px;}
.guide .guide_box4 .carry{left:140px; top:210px;}
.guide .guide_box5{ position:absolute; background:url(../images/guide/gui5.png) no-repeat; right:24px; top:52px; width:480px; height:262px; z-index:2;}
.guide .guide_box5 .close{right:110px; top:91px;}
.guide .guide_box5 .carry{left:140px; top:210px;}
.guide .guide_box6{position:absolute; background:url(../images/guide/gui6.png) no-repeat; right:0px; top:53px; width:476px; height:262px; z-index:2;}
.guide .guide_box6 .close{right:106px; top:91px;}
.guide .guide_box6 .carry{left:140px; top:210px;}
.guide .guide_box7{position:absolute; background:url(../images/guide/gui7.png) no-repeat; right:77px; bottom:1px; width:443px; height:318px; z-index:2;}
.guide .guide_box7 .close{right:73px; top:32px;}
.guide .guide_box7 .carry{left:140px; top:152px;}
.guide .guide_box8{position:absolute; background:url(../images/guide/gui8.png) no-repeat; right:41px; bottom:1px; width:439px; height:318px; z-index:2;}
.guide .guide_box8 .close{right:69px; top:32px;}
.guide .guide_box8 .carry{left:140px; top:152px;}
.guide .guide_box9{position:absolute; background:url(../images/guide/gui9.png) no-repeat; right:5px; bottom:1px; width:441px; height:318px; z-index:2;}
.guide .guide_box9 .close{right:71px; top:32px;}
.guide .guide_box9 .carry{left:140px; top:152px;}
.guide .guide_box10{position:absolute; background:url(../images/guide/gui10.png) no-repeat; left:50%; top:89px;margin-left:-341px;width:392px; height:364px; z-index:2;}
.guide .guide_box10 .close{right:22px; top:193px;}
.guide .guide_box10 .carry{left:140px; top:313px;}


/*换肤 换首页*/
.change{position:absolute; width:500px; height:183px; background:#f2f2f2; border:1px solid #d7d7d7; z-index:99; right:19px; top:95px; box-shadow:0 0 3px #d7d7d7;}
.change ul{ padding:22px 0 0 10px }
.change ul li{float:left; width:92px; height:130px; margin-right:10px; padding:10px 10px 0 10px;}
.change ul li img{ float:left; width:92px; height:92px;}
.change ul li h2{ text-align:center; float:left; width:100%; margin-top:10px;}
.change ul li:hover{ background:#e7e7e7;}

.changeStru{position:absolute; width:260px; height:183px; background:#f2f2f2; border:1px solid #d7d7d7; z-index:99; right:19px; top:95px; box-shadow:0 0 3px #d7d7d7; }
.changeStru ul{ padding:24px 0 0 10px }
.changeStru ul li{float:left;  width:95px; height:120px; margin-right:10px; padding:10px 10px 0 10px;}
.changeStru ul li img{ float:left; width:95px; height:77px;}
.changeStru ul li h2{ text-align:center; float:left; width:100%; margin-top:10px;}
.changeStru ul li:hover{ background:#e7e7e7;}





