@charset "utf-8";
/* CSS Document */
/*td_person*/
.td_person{width: auto; min-height: 20px; max-height: 72px;_height: 20px;line-height: 20px; border-top:1px solid #999;border-right:1px solid #e1e1e1;border-bottom:1px solid #e4e4e4;border-left:1px solid #999; overflow-y: auto; }
.td_person ol{padding:3px 0 0 3px;}
.td_person ol li{float: left; font-size: 12px; font-weight: normal; padding-left:5px; margin-right: 3px; margin-bottom: 3px; height: 18px; line-height: 18px; border: #e5ebf0 solid 1px; background-color: #E8EBF0;word-break:keep-all; white-space:nowrap;}
.td_person ol li a.x{display:inline-block; width:10px; height: 10px;margin-left: 5px; margin-right: 5px; background: url(../images/x.gif) no-repeat; vertical-align: middle;}
.more_info{display:none;}
/*new notice*/
.noticeEdte{height: 129px; border: 1px solid #e4e4e4; line-height: 26px; padding: 0 5px; border-top: 0px;/*margin-right: 3px;*/ overflow-y:auto; overflow-x:hidden; word-wrap: break-word;}
span.editTitle{display: block; height: 28px; line-height: 28px; /*margin-right: 3px; */padding-left: 3px; background:#f5f6f8; border: 1px solid #e4e4e4; position: relative;}
span.editTitle span{float: right;color: #323232; margin-right: 10px;}
span.editTitle a{display: inline-block; padding-left: 15px; height: 29px; line-height: 29px;margin-right: 15px;}
span.editTitle a.selModel{background: url(../images/selModel2.png) no-repeat 0 8px;}
span.editTitle a.spl_field{background: url(../images/spl_field2.png) no-repeat 0 8px;}
ul.spl_words_ul{width: 100px;max-height: 200px; overflow-y: auto; overflow-x:hidden;border: 1px solid #d3d3d3; position: absolute; top: 27px;left: 100px; display: none;}
ul.spl_words_ul li{height: 26px; line-height: 26px; background-color:#fff; padding: 0 5px; border-bottom: 1px dashed #ccc;}
ul.spl_words_ul li:hover{background-color: #dedede;}
ul.spl_words_ul li:hover{background-color: #dedede;}
.list table.pretty td.time{background:#ffffff;text-align:left;color:#017a8f;padding-left:10px; border-bottom:1px #ececec solid;border-top:1px #ececec solid; }

/*代发短信*/
.messagePage{padding-top:20px;width:1030px;margin:0 auto;}
.message_bg li{background:#fff;border:1px solid #e6eaeb;margin-bottom:10px;}
.messageTitle{height:35px;line-height:35px;padding:10px 30px 0 10px;color:#333;font-size:16px;border-bottom:1px solid #5bbbc9;}
.messageTitle .fr{font-size:14px;}
.messageTableBox{padding:10px 20px;}
.messagePage .inputTable{padding-top:0;}
.messagePage .inputTable th{width:72px;color:#888;padding:5px 0 5px 10px;line-height:30px;vertical-align:top;}
.messagePage .inputTable td{color:#333;padding:5px 10px;line-height:30px;text-align:left;}
.messagePage .inputTable td .longWord{position:relative;vertical-align:middle;padding-right:80px;text-align: left;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。IE, Safari (WebKit)*/
    -o-text-overflow:ellipsis;}
.messagePage .inputTable td .longWord .red{position:absolute;right:0;vertical-align:middle;}
/*添加系统外人员*/
.cont_addr{border:1px solid #fcc683;background:#fefcf7;padding:10px;}
.formPage .cont_addr .formButton_grey{margin-right:0;margin-left:6px;}