@charset "utf-8";
/* CSS Document */
html {padding:0px;margin:0px;}
body {font-family:"Microsoft YaHei","微软雅黑",Simsun; color:#4d4d4d; font-size:14px; background:#f6f7f9;padding:0px;margin:0px;}
 img, div, input { behavior: url("../iepngfix.htc") }
/*reset style*/
a,a:visited{color: #06c; text-decoration:none;}
a:hover {text-decoration: underline}
body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, pre, code,form, fieldset, legend, input, button,textarea, p, blockquote, th, td {margin: 0;padding: 0;}
fieldset, img {border: 0;}
img,input,select{ vertical-align:middle}
/* remember to define focus styles! */
:focus {outline: 0;}
address, caption, cite, code, dfn,em,i, th, var, optgroup {font-style: normal;font-weight: normal;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
abbr, acronym {border: 0;font-variant: normal;}
input, button, textarea,select, optgroup, option {font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
option{ padding:0 5px;}
code, kbd, samp, tt {font-size: 100%;}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {*font-size: 100%;}
textarea{text-indent:5px;padding:3px 0;}
body {line-height: 1.5;}
ol, ul ,li {list-style: none;}
/* tables still need 'cellspacing="0"' in the markup */
caption, th {text-align: left;}
sup,sub {font-size: 100%;vertical-align: baseline;}
/* remember to highlight anchors and inserts somehow! */
:link, :visited ,ins {text-decoration: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
.clearfix:after { content: "."; display: block; height: 0; clear: both;  visibility: hidden; }
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/ 
* html .clearfix {height: 1%;} 
.clearfix {display: block;} /* End hide from IE-mac */
.top0 {clear: both; padding-top: 0px}
.top1 {clear: both; padding-top: 1px}
.top4 {clear: both; padding-top: 4px}
.top5 {clear: both; padding-top: 5px}
.top10 {clear: both; padding-top: 10px}
.top15 {clear: both; padding-top: 15px}
.clear {line-height: 0px; height: 0px; clear: both; font-size: 0px}
.vertical_t {vertical-align:top;}
.vertical_m {vertical-align: middle}
.div960 {margin: 0px auto; width: 960px; height: auto; clear: both}
.div980 {margin: 0px auto; width: 980px; height: auto; clear: both}
.fl {float: left}
.fr {float: right}
.f12 {font-size: 12px}
.f14 {font-size: 14px}
.f16 {font-size: 16px}
.f12b {font-size: 12px; font-weight: bold}
.f14b {font-size: 14px; font-weight: bold}
.f16b {font-size: 16px; font-weight: bold}
.f20b{font-size: 20px; font-weight: bold}
.bold {font-weight: bold}
.nor {font-weight: normal}
.gray_c {color: #ccc}
.gray_d {color: #ddd}
.gray_6 {color: #666}
.gray_9 {color: #999}
.gray_3 {color: #333}
.hightlight {color: #cc0000; font-weight: bold}
.hightlight_nor {color: #cc0000; font-weight: normal}
.m_all_5 {margin: 5px}
.p_all_5 {padding: 5px;}
.m_all_10 {margin: 10px}
.p_all_10 {padding: 10px;}
.m_all_20 {margin: 20px}
.p_all_20 {padding: 20px;}
.mt5 {margin-top: 5px}
.mr5 {margin-right: 5px}
.mb5 {margin-bottom: 5px}
.ml5 {margin-left: 5px}
.pt5 {padding-top: 5px}
.pr5 {padding-right: 5px}
.pb5 {padding-bottom: 5px}
.pl5 {padding-left: 5px}
.mt10 {margin-top: 10px}
.mr10 {margin-right: 10px}
.mb10 {margin-bottom: 10px}
.ml10 {margin-left: 10px}
.pt10 {padding-top: 10px}
.pr10 {padding-right: 10px}
.pb10 {padding-bottom: 10px}
.pl10 {padding-left: 10px}
.mt20 {margin-top: 20px}
.mr20 {margin-right: 20px}
.mb20 {margin-bottom: 20px}
.ml20 {margin-left: 20px}
.mt15 {margin-top: 15px}
.pt20 {padding-top: 20px}
.pt25 {padding-top: 25px}
.pt30 {padding-top: 30px}
.pr20 {padding-right: 20px}
.pb20 {padding-bottom: 20px}
.pl20 {padding-left: 20px}
.center {text-align: center}
.right {text-align: right}
.l22 {line-height: 22px}
.l26 {line-height: 26px}
.l25 {line-height: 25px}
.l30 {line-height: 30px}
.nocenter {text-align: left}
.zoom1 {ZOOM: 1}
.nobg {background: none transparent scroll repeat 0% 0% !important}
.red{ color:red;}
.green{ color:green}
.blue{ color:#06c;}
.blue:visited{ color:blue;}
.orange{ color:#f60;}
.redWt{ color:#f4a8bd}
.txtblack{ color:#000}
a { blr:expression(this.onFocus=this.blur()) } /* for IE */
:focus { outline: none; } /* for Firefox */
.pointer{ cursor:pointer}

.bg_white{ background:#FFF;}

::-webkit-input-placeholder { /* WebKit browsers */ color: #adadad !important;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#adadad !important;}
::-moz-placeholder { /* Mozilla Firefox 19+ */color: #adadad !important;}
:-ms-input-placeholder { /* Internet Explorer 10+ */color:#adadad !important;}

.divselect12 {
    width: 200px;
    float: left;
    position: relative;
    background: #fff;
    border: 1px solid #e6e6e6;
}
.text_ellipsis {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.divselect12 .cite12 {width: 170px;height: 26px;line-height: 28px;text-align: left;padding-left: 10px;display: block;color: #333;cursor: pointer;font-style: normal;padding-right: 6px;background: url(../images/shape.png) no-repeat right center;font-size: 14px;}

.ztree.leibie {
    border: 1px solid #d9d9d9;
    position: absolute;
    z-index: 20000;
    margin-top: 2px;
}

/**潘博新增样式*/
.overf{overflow: visible !important;}
.divselect12{width:120px; float:left; position:relative; background: #fff;border:1px solid #e6e6e6;}
.divselect12 .cite12{width:95px; height:30px;line-height:28px; text-align:left;padding-left:10px;display:block; color:#333; cursor:pointer;font-style:normal; padding-right:6px;  background:url(../images/shape.png) no-repeat right center;font-size: 14px;}
.divselect13{width:200px;}
.divselect13 .cite13{width:170px;padding-right:10px;height:26px}/*2016年08月02日 改宽度了。*/
.text_ellipsis{
	word-break:keep-all;/* 不换行 */
	white-space:nowrap;/* 不换行 */
	overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
	text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。IE, Safari (WebKit)*/
	-o-text-overflow:ellipsis; /* 兼容Opera */
}
.ztree.leibie{
	border:1px solid #d9d9d9;position:absolute;z-index:20000;margin-top:1px;
}
/**潘博分页样式*/
.converse_page1{width: 100%;overflow: hidden;padding: 0 20px;border-top: 1px solid #e6e6e6;background: #f6f7f9;box-sizing:border-box;}
.page_num a.now_ellipsis{border:none;}
.page_num span:hover{border:1px solid #056dd0;color: #056dd0}
.page_num span.active{border:1px solid #056dd0;color: #056dd0}
.converse_page{position: absolute;bottom: 0px;left: 0px;width: 100%;overflow: hidden;padding: 0 20px;border-top: 1px solid #e6e6e6;background: #f6f7f9;box-sizing:border-box;}
.date_num{display: block;float: left;line-height:64px;text-align: left;font-size: 14px;color: #999}
.date_num span{color: #25b6ed;}
.page_num{margin-top: 20px;float: right;overflow: hidden;}
.page_num span{display: block;float:left;padding: 0 6px;border:1px solid #d9d9d9;line-height: 22px;text-align: center;color: #666;margin-right: 5px;font-size: 12px;cursor: pointer;}
.page_num a{cursor:pointer;display: block;width:22px;float: left;line-height: 22px;color: #666;text-align: center;font-size: 14px;margin-right: 5px;border:1px solid #d9d9d9;border-radius: 2px;}
.page_num a:hover{border:1px solid #056dd0;color: #056dd0}
.page_num a.active{border:1px solid #056dd0;color: #056dd0}
.lt em{display: block;width: 10px;height: 22px;float: left;background: url(../images/arrow_03.png) no-repeat center;}
.gt em{display: block;width: 10px;height: 22px;float: right;background: url(../images/arrow_05.png) no-repeat center;}


.hide{display: none !important;}