@charset "utf-8";
/* CSS Document */
body{background:#f8f8f8;}
/*头部*/
.head_box{width:100%;height:90px;background:#0591aa;}
.select_head{width:100%;height:86px;background:url(../images/main/headbg.png) no-repeat right top; border-bottom:4px solid #118094}
.select_head h1{height:86px; color: #fff;font-size: 28px;   line-height:86px; margin: 0 0 0 17px;}
/*主内容*/
.content_box{padding:105px 0 100px 0;font-family:"微软雅黑";}
.content_bot{width:100%;height:66px;background:url(../images/home/homebg.png) repeat-x bottom;position:absolute;bottom:0px;}
.select_con{width:800px;overflow:hidden;position:absolute;left:50%;margin-left:-400px;z-index:100;}
.select_con li{width:320px;float:left;}
.select_con li h3{font-size:30px;color:#647c88;text-align:center;}
.select_con li h4{width:100%;height:140px;background:url(../images/icon_big.png) no-repeat center 15px;}
.select_con li h4.icon_big1{ background-position:center -126px;}
.select_con li p{font-size:14px;color:#777;line-height:25px;}
.select_con li .content_btn{width:210px;margin:15px auto;}
.select_con li .content_btn a:hover{text-decoration:none;color:#333;}
.select_con li .content_btn a{display:inline-block;width:181px;height:34px;line-height:34px;color:#333;padding-left:22px;background:url(../images/btn_bg.png) no-repeat}
.select_con li.select_center{width:150px;height:280px;background:url(../images/center_arrow.png) no-repeat center 25px;}